/* This file defines our SCSS, or Sass CSS. Sass (https://sass-lang.com/)
   is a superset of css, which allows us to write things in a much nicer
   syntax than we would be used to with standard css.

   Since we still need to use it in the browser, we will have to build it
   to valid CSS using the node-sass or gulp-sass plugins. This particular
   file has already been built to /hosted/main.css
*/


// Here we are defining two variables to store some style information
$contrastColor: cornflowerblue;
$appWidth: 400px;


// SASS also allows us to create functions that we can use to dynamically
// calculate styles at build time.
@function calcDivMargin($width) {
  @return $width / 4;
}

// Since SASS builds to css, we can write css as normal.
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; 
}


// The following #app styling displays how SASS allows us to nest related
// elements within one another.
#app {
  width: 50%;
  margin: 0 auto;
  text-align: center; 
  
  // Because of it's nested nature, this div styling will only apply to divs
  // contained within an element with an id of #app.
  div {
    // Here we are setting margin-top to the value returned by our calcDivMargin
    // function defined above. We are passing in our $appWidth variable as a
    // parameter. It is worth noting that this function will not "dynamically"
    // update as our page is running. When we run our SASS script, it will
    // precompute this function value and store the resulting value as the 
    // top margin size in /hosted/main.css
    margin-top: calcDivMargin($appWidth);
    
    h1 {
      // Here we are setting our color to the value of our $contrastColor variable.
      // This is useful, as we can edit the contrast color at the top of the file
      // once and change it for everywhere that we make use of it in the file.
      color: $contrastColor; 
    }
    
    h2 i {
      color: $contrastColor; 
    }
    
    ul {
      width: $appWidth;
      margin: 0 auto;
      text-align: left; 
      
      li {
        margin-top: 10px;
        word-break: break-all;
        font-size: 1.1em; 
      }
    }
  }
}
